<template>
  <div class="border-top">
    
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg" v-for="item in rows" :key="item.coinTransId">
        <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
          <i v-if="item.sourceType==2" class="iconfont icon-rukuan fg-blue font-40"></i>
          <i v-else-if="item.sourceType==3" class="iconfont icon-chukuan fg-blue font-40"></i>
          <img v-else class="weui-media-box__thumb"
                 :src="item.imageUrl" />
        </div>
        <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">
          <div class="weui-media-box__title">{{item.productName}}{{(item.sourceType!=2&&item.sourceType!=3)?'x':''}}{{item.purchaseNum}}</div>
          <div class="weui-media-box__desc">来源：{{item.sourceType==4?item.sourceInfo:'无'}}</div>
          <div class="weui-media-box__desc">{{item.createDate}}</div>
        </div>
      </div>
    </div>
    <div v-if="!loading&&!rows.length" class="py-xl text-center fg-grey">您还没有此类礼物记录</div>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>