<template>
  <div class="bar">
    
    <div class="weui-panel" v-show="!loading">
      <div class="weui-panel__hd">酒吧资料</div>
      <div class="weui-media-box">
        <div class="weui-media-box__bd weui-media-box__title iconfont icon-jiuba"> 名称：{{info.name}}</div>
      </div>
      <div @click="call" class="weui-media-box">
        <div class="weui-media-box__bd weui-media-box__title iconfont icon-dianhua"> 电话：{{info.phone}}</div>
      </div>
      
      <div @tap="linkTo" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd weui-media-box__title iconfont icon-daohang"> 地址：{{info.address}}</div>
        <div class="weui-cell__ft weui-cell__ft_in-access self-right"></div>
      </div>


      <div class="weui-panel__hd border-top">酒吧介绍</div>
      <div @click="call" class="weui-media-box weui-media-box_appmsg">
        <div>{{info.introduction}}</div>
      </div>


      <div class="weui-panel__hd">酒吧推荐</div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="text-center py-xl fg-grey" v-if="!loading&&!info.goodsList.length">暂无推荐</div>
        <scroll-view scroll-x v-else>
          <div class="item bg-black2 pb" v-for="item in info.goodsList" :key="item.id">
            <div class="image"><img :src="item.imageUrl" mode="aspectFit"></div>
            <div class="text-center pt">{{item.name}}</div>
          </div>
        </scroll-view>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>