<template>
  <div>
    <div class="weui-panel message">
      <div class="weui-panel__bd">
        <div v-for="(item, index) in msgList"
            :key="item.identifier"
            class="list weui-flex weui-media-box"
            style="padding:0;"
            :style="{transform:'translate3d('+(curIndex==index?'-128':'0')+'rpx,0,0)'}"
            @touchstart="touchstart($event,index)"
            @touchend="touchend($event,index)"
            @tap="itemClick(item)">
          <div class="col-12 weui-media-box weui-media-box_appmsg border-box">
            <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
              <img class="weui-media-box__thumb round"
                  :src="item.thumbnail" />
            </div>
            <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">
              <div class="weui-media-box__title weui-flex">
                <span class="ellipsis" style="max-width:50vw">{{item.identifierNick}}</span>
                <span class="iconfont pl" :class="item.sex==1?'icon-nan fg-blue':'icon-nv fg-red'"></span>
                <span class="self-right fg-grey font-12">{{item.time}}</span>
              </div>
              <div class="weui-flex">
                <span class="weui-media-box__desc">{{item.lastMsg}}</span>
                <span v-show="item.unread>0" class="self-right bg-red round-sm px-sm font-12">{{item.unread}}</span>
              </div>
            </div>
          </div>
          <div @click.stop="delChat(index)" class="iconfont icon-shanchu font-24 px-lg inline row-center col-center bg-red"></div>
        </div>
      </div>
    </div>
    <div v-if="!loading&&!msgList.length" class="text-center fg-grey pt-xl">您还没有聊天记录</div>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>