<template>
  <div class="edit px-sm">
    <header class="pt-lg text-center">
      <div class="inline" style="margin:0;width:25vw;height:25vw" @click="actionSheet">
          <img :src="userInfo.thumbnail" mode="widthFix" class="round">
      </div>
      <div class="pt-lg">
        <label class="inline round-lg font-18" :class="userInfo.sex==1?'fg-blue':'fg-red'" style="border:1px solid currentColor" @click="userInfo.sex=userInfo.sex==1?2:1">
          <i class="iconfont icon-nan pa round" :class="userInfo.sex==1?'bg-blue fg-white':'fg-red'"></i>
          <i class="iconfont icon-nv pa round" :class="userInfo.sex==1?'':'bg-red fg-white'"></i>
        </label>
      </div>
    </header>
    <main class="mt-lg">
      <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd">
          <label class="weui-media-box weui-media-box_appmsg">
            <div class="pr-lg">昵称</div>
            <input type="text" v-model="userInfo.nickName" maxlength="8" class="text-right flex1">
          </label>
          <label class="weui-media-box weui-media-box_appmsg">
            <div class="pr-lg">生日</div>
            <picker mode="date" class="self-right" v-model="userInfo.birthday" start="1950-01-01" :end="end" @change="bindDateChange">
              <view class="picker weui-flex">{{userInfo.birthday||'请选择生日'}}</view>
            </picker>
          </label>
          <label class="weui-media-box weui-media-box_appmsg">
            <div class="pr-lg">爱好</div>
            <input type="text" v-model="userInfo.hobby" maxlength="30" class="text-right flex1">
          </label>
          <label class="weui-media-box weui-media-box_appmsg">
            <div class="pr-lg">个性签名</div>
            <input type="text" v-model="userInfo.customSign" maxlength="100" class="text-right flex1">
          </label>
        </div>
      </div>
    </main>
    <footer class="full-width pa-sm border-box" style="position:fixed;left:0;bottom:10px">
      <button class="round-xl" type="warn" @tap="save" hover-class="button-hover">保存</button>
    </footer>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>