<template>
  <div class="profile">
    
    <header class="px-lg pt-lg image-bg" style="position:relative">
      <div  class="bg"><img :src="userInfo.userImage"/></div>
      <div class="round-sm pa-lg card"
           style="padding-bottom:0">
        <div class="weui-media-box_appmsg">
          <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
            <img class="weui-media-box__thumb round"
                 :src="userInfo.userImage" @tap="preview()"/> 
          </div>
          <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">
            <div class="weui-media-box__title weui-flex">
              <div class="pr-md">{{userInfo.nickName}}</div>
              <i class="iconfont" :class="userInfo.sex==1?'fg-blue icon-nan':'fg-red icon-nv'"></i>
            </div>
            <div class="weui-flex pt-xxs"
                 style="align-items:flex-end">
              <div class="fg-grey">关注</div>
              <div class="px-md font-18 font-blod">{{userInfo.starDto}}</div>
              <div class="fg-grey">|</div>
              <div class="fg-grey px-md">粉丝</div>
              <div class="font-18 font-blod">{{userInfo.fansDto}}</div>
            </div>
          </div>
        </div>
        <div class="fg-grey pt-md">爱好：{{userInfo.hobby}}</div>
        <div class="fg-grey">个性签名：{{userInfo.customSign}}</div>
        <div class="py-md weui-flex text-center">
          <div class="weui-flex__item round-xs"
                :class="{'bg-red':userInfo.foStatus==1,'bg-black':userInfo.foStatus!=1,'iconfont icon-weibiaoti':userInfo.foStatus==2}"
                @tap="watch(userInfo.foStatus)"
          >{{userInfo.foStatus==0?'已关注':userInfo.foStatus==1?'关注':'互相关注'}}</div>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <div @click="chatWith" class="weui-flex__item round-xs"style="border:1px solid #fff">私信</div>
        </div>
      </div>
    </header>
    <main class="pt-lg mt-lg">
      <div class="weui-tab">
        <div class="weui-navbar"
             style="border:0">
          <div v-for="(item,index) in tabs"
               :key="index"
               :id="index"
               :class="{'weui-bar__item_on':activeIndex == index}"
               class="weui-navbar__item"
               @click="tabClick">
            <div class="weui-navbar__title">{{item}}</div>
          </div>
        </div>
        <div class="weui-tab__panel">
          <div class="weui-tab__content pb-lg"
               :hidden="activeIndex != 0">
            <template v-if="userInfo.albums.length">
              <div class="weui-flex slider"
                   @touchstart="touchstart"
                   @touchend="touchend"
                   :style="{'transform':posx}">
                <div class="slider-item"
                     v-for="(item,index) in userInfo.albums"
                     :key="index"
                     :class="{current:current==index,hidden:item===''}"
                     @click="preview(index)">
                  <img :src="item.thumbnail"
                       mode="aspectFit">
                </div>
              </div>
              <div class="fg-grey text-center py-lg my-lg">
                左右滑动查看相册
              </div>
            </template>

            <div class="fg-grey text-center py-lg my-lg"
                 v-else>
              该用户还没有相册
            </div>
          </div>
          <div class="weui-tab__content"
               :hidden="activeIndex != 1">
            <div v-if="userInfo.combos.length" class="weui-flex gifts" style="flex-wrap:wrap">
              <div  class="col-4 border-box pa" v-for="(item,index) in userInfo.combos" :key="index">
                <div class="bg-black2">
                  <div class="text-right pa font-12"><span class="bg-red fg-white px round-xs">x{{item.numbers}}</span></div>
                  <div class="image" style="height:30vw"><img :src="item.imageUrlDto" mode="aspectFit"/></div>
                  <div class="text-center py">{{item.packName}}</div>
                </div>
              </div>
              
            </div>
            <div class="fg-grey text-center py-lg my-lg" v-else>
              该用户还没有礼物
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>