<template>
  <div class="chat bg-black pa" id="chat" style="padding-bottom:65px">
    <chat-item
      v-for="(item, index) in rows"
      :key="index"
      :isMe="item.isMe"
      :isText="item.isText"
      :loaded="!item.loading"
      :failed="item.failed"
      :time="item.timeStamp"
      :msg="item.content"
      :myHeadUrl="userInfo.thumbnail"
      :taHeadUrl="profile.thumbnail"
      @resend="resend"
    ></chat-item>
    <footer class="bg-black2 border-box col-center">
      <div
        class="msg weui-cell"
      >
        <a href="/pages/message/goods/main" class="big iconfont icon-liwu fg-red icon-white"></a>
        <textarea
          v-model="content"
          fixed
          class="flex1 bg-black pa-xss mx"
          cursor-spacing='40'
          style="height:2.5em"
        ></textarea>
        <div class="big iconfont icon-send fg-red icon-white" @tap="sendMsg('')"></div>
      </div>
    </footer>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>