@import "../iconfont/iconfont.css"
@import "./vars.styl"
@import "./weui.styl"
for key, value in $colors
    .fg-{key}
        color value
    .bg-{key}
        background-color value
for key, value in $sizes
    if (key == '-xs')
        key = ''
    for dir in 'a' 'x' 'y' 'top' 'bottom' 'left' 'right'
        $d = substr(dir, 0, 1)
        if ($d == 'a')
            .p{$d}{key}
                padding value
            .m{$d}{key}
                margin value
        else if ($d == 'x')
            .p{$d}{key}
                padding-left value
                padding-right value
            .m{$d}{key}
                margin-left value
                margin-right value
        else if ($d == 'y')
            .p{$d}{key}
                padding-top value
                padding-bottom value
            .m{$d}{key}
                margin-top value
                margin-bottom value
        else
            .p{$d}{key}
                padding-{dir} value
            .m{$d}{key}
                margin-{dir} value
for dir in left center right
    .text-{dir}
        text-align dir
for key, value in $sizes
    .round{key}
        border-radius value
for key in (12...50)
    if even(key)
        .font-{key}
            font-size key * 1px
for key in (1...13)
    .col-{key}
        flex 0 0 (100%/12*key) 


for key in space-around space-between flex-start flex-end center 
    $s=match('\-?\w+$', key)
    $s=replace('-','',$s)
    .row-{$s}
        justify-content: key
for key in flex-start flex-end center stretch baseline
    $s=match('\-?\w+$', key)
    $s=replace('-','',$s)
    .col-{$s}
        align-items: key 
.bg-black2
    background-color #333
.border-top 
    border-top 1rpx solid #3a3a3a
.border-bottom
    border-top 1rpx solid #3a3a3a
.ellipsis
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
page
    background-color:$colors.black;
    font-size 14px
    color #fff
.border-box
    box-sizing border-box    
image
    width 100%
.inline
    display inline-flex
    line-height 1
.inlineblock
    display inline-block
    vertical-align: middle
.reverse
    flex-direction: row-reverse
.self-right
    margin-left auto
.self-center
    margin auto

.round
    border-radius 50%
.round-xl
    border-radius 40px

.image-bg
    background-size cover
    background-position center center
.full-width
    width: 100%
.flex1
    flex:1
button
    font-size: 16px
button[type=warn]
    background-color:$colors.red;
.button-hover
    opacity: .95
button[plain]
    border-color: $colors.white
    color: $colors.white

.hidden
    visibility hidden
@-webkit-keyframes loading {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
.icon-loading
    @extends .inline
    animation loading 1.5s linear infinite
.paused
    animation:none
.image
    text-align: center
    &:before
        content: ""
        display inline-block
        width: 0
        padding-top: 100%
        vertical-align: middle
    >img
        max-width: 100%
        max-height 100%
        height 100%
        vertical-align: middle
.index
    .header
        position relative
        color: #fff
    .menu
        position: absolute
        right 20px
        bottom 40px
.crunchies
    .weui-panel
        overflow hidden
        border: #5c5863  2px solid
        background-color rgba(#2b243e,.5)
    .gradient-0
        background-image linear-gradient(to right,#f84ca6,#ba1fdb)
    
    .gradient-1
        background-image linear-gradient(to right,#7e3fde ,#481b8d)
    
    .top10
        font-size: 20px
        // text-shadow: $colors.red 2px 2px
        -webkit-text-stroke: $colors.red 2rpx
        font-weight: bold
    .no
        width: 30px
        height 30px
        line-height: 30px
        background: no-repeat center center
        background-size: contain
        text-align: center
        font-size: 16px
.mine
    .weui-panel:after
        display none
    .weui-flex__item
        position relative
        &:last-child:after
            content: ""
        &:after
            content: "|"
            font-size: 20px
            position: absolute
            right 0
            top:50%
            transform: translate3d(0,-50%,0)
.bg
    width 100%
    height 100%
    overflow hidden
    position absolute
    left 0
    top 0
    filter blur(10px)
    z-index 0
.profile
    .card
        background-color #333
        position:relative
        bottom:-40px
    .weui-media-box_appmsg
        margin-top: -15px
    .weui-media-box__hd
        width: 80px
        height : 80px
        margin-top:-30px
    main
        .weui-tab__content
            overflow hidden
        .slider
            height 60vw
            align-items: center
            flex-wrap: nowrap
            transition transform 0.2s
        .slider-item
            flex:0 0 33.33%
            height 33vw
            background-color:#333
            transition: transform .2s
            &.current
                transform: scale(1.8)
            image
                max-width 100%
                max-height: 100%
.bar scroll-view
    overflow scroll
    white-space nowrap
    .item
        display inline-block
        width: 30vw
        margin:0 1.5vw
    .image
        height 30vw
.album
    .col-4
        position relative
        >.active
            box-shadow: $colors.red 0 0 0 2px
        >.iconfont
            position absolute
            right:0;
            top:0
aside
    position fixed
    width 100vw
    height 100vh
    left 0
    top 0
    background-color: $colors.black
.message
    overflow hidden
    .list
        transition: transform .2s
.chat-ctx
    max-width 65vw
.chat
    will-change: margin-top 
    transition: transform .2s
    >footer
        position fixed
        width 750rpx
        left 0
        bottom: 0
    .msg>.big
        font-size: 2.5em
    textarea 
        height 2.5em
        line-height: 1
    .tab
        border-bottom: 4px solid transparent
        &-active
            border-color: $colors.red
    .gift-active
        box-shadow: 0 0 1px 2px $colors.red
.icon-white
    position relative
    line-height: 1
    z-index 2
    &:after
        content: ""
        position absolute
        transform: scale(.85)
        z-index -1
        width:1em
        height 1em
        left:0;
        right 0
        border-radius: 50%
        background-color #fff
.withdrawal
    .header
        position fixed
        width 100%
        left 0
        top 0
        background-color: $colors.black
        z-index 2
.weui-footer.weui-cell:before
    left: 0
.chat-gift .image
    margin:  0 auto;