$colors = {
    red: #fa3898,
    yellow: #f6bb42,
    blue: #4b9fe3,
    grey: #999,
    black: #1f1f1f,
    white: #fff,
    pink:#cd4e8e
}
$sizes = {
    -xss: 3px,
    -xs: 5px,
    -sm: 10px,
    -md: 15px,
    -lg: 20px
    -xl: 40px
}
