<template>
  <div class="withdrawal pt-lg">
    <div class="weui-panel__hd header">
      <picker mode="date"
              fields="month"
              class="inline"
              v-model="date"
              start="1950-01-01"
              :end="end"
              @change="bindDateChange">
        <span>{{date}}<span class="pl-sm iconfont icon-icon"></span></span>
      </picker>
    </div>
    <div class="border-top"></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg"
           v-for="(item, index) in rows"
           :key="index">
        <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
          <i class="iconfont icon-chukuan font-40 fg-blue"></i>
        </div>
        <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">
          <div class="weui-media-box__title weui-flex">
            <div>提现</div>
            <div class="self-right"><span class="iconfont icon-money pr fg-yellow"></span>{{item.coinPer}}</div>
          </div>
          <div class="weui-cell__ft weui-flex">
            <span>{{item.createDate}}</span>
            <span class="self-right">实到账￥{{item.moneyDto}}</span>
          </div>
        </div>
      </div>
      <div v-if="!loading&&!rows.length" class="text-center py-xl fg-grey">您还没有此种交易记录</div>
    </div>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>