<template>
  <div class="index">
    
    <header class="header page"
            style="font-size:0">
      <view class="page__hd">
        <view class="page__title">Swiper</view>
        <view class="page__desc">滑块视图容器，这里采用小程序原生 swiper 组件实现。</view>
      </view>
      <div class="page__bd page__bd_spacing">
        <swiper @tap="catchtap"
                :indicator-dots="true"
                :autoplay="true"
                :interval="4000"
                :duration="400"
                :circular="true"
                indicator-active-color="#fa3898"
                indicator-color="#fff">
            <swiper-item v-for="(item,index) in banners"
                        :key="index">
              <image :src="item.imageUrl"
                      :id="item.clickUrl"
                     mode="widthFix"
                     class="slide-image"/>
            </swiper-item>
        </swiper>
      </div>
    </header>
    <main>
      <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">嗨玩</div>
        <a href="/pages/bar/main"
           class="weui-cell__ft_in-access">酒吧详情</a>
      </div>
      <div class="weui-panel"
           style="margin:0">
        <div class="weui-panel__bd">
          <a :href="'/pages/profile/main?userId='+item.userId+'&userName='+item.nickName+'&userName='+item.nickName"
            v-for="(item, index) in rows" :key="index"  
             class="weui-media-box weui-media-box_appmsg"
             hover-class="weui-cell_active">
            <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
              <img class="weui-media-box__thumb"
                   :src="item.thumbnail"
                   style="border-radius:50%" />
            </div>
            <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">
              <div class="weui-media-box__title">
                <span>{{item.nickname}}</span>
                <span class="iconfont pl" :class="item.sex==1?'icon-nan fg-blue':'icon-nv fg-red'"></span>
              </div>
              <div class="weui-media-box__desc fg-red">{{item.onlineStatus}}</div>
            </div>
            <div class="weui-media-box__desc">{{item.tableName}}</div>
          </a>
        </div>
      </div>
      <div class="text-center pt-xl fg-grey" v-if="!loading&&!rows.length">当前无人在线</div>
    </main>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>