<template>
  <div class="chat chat-gift" :style="{'padding-top':store.hh+'px'}">
    <div class="weui-navbar bg-black query">
      <div v-for="(item,index) in tabs"
           :key="index"
           :id="index"
           :class="{'weui-bar__item_on':activeIndex == index}"
           class="weui-navbar__item"
           @click="tabClick">
        <div class="weui-navbar__title">{{item}}</div>
      </div>
    </div>
    <div class="text-center py-xl fg-grey" v-if="!loading&&!store.gifts.length&&activeIndex==0">暂无礼物菜单</div>
    <div class="text-center py-xl fg-grey" v-if="!loading&&!store.goods.length&&activeIndex==1">暂无酒水菜单</div>
    <div :style="{visibility:loading?'hidden':''}">
      <swiper
        v-if="activeIndex===0"
        :style="{height:store.height+'px'}"
        :indicator-dots="true"
        :duration="400"
        indicator-active-color="#fa3898"
        indicator-color="#fff"
      >
        <swiper-item
          v-for="(item, index) in store.gifts"
          :key="index"
        >
          <div class="weui-flex" style="flex-wrap:wrap">
            <div
              class="col-4 pa border-box"
              v-for="(subItem, i) in item"
              :key="i"
            >
              <div
                class="bg-black2 text-center"
                :class="{'gift-active':current==(index+''+i)}"
                @tap="current=(index+''+i)"
                id="item"
              >
                <c-image
                  :src="subItem.imageUrl"
                  width="25vw"
                ></c-image>
                <div class="ellipsis">{{subItem.productName}}</div>
                <div>
                  <span class="iconfont icon-money fg-yellow"></span>
                  <span>{{subItem.needCoinNum}}</span>
                </div>
              </div>
            </div>
          </div>
        </swiper-item>
      </swiper>
      <swiper
        v-else
        :style="{height:store.height+'px'}" 
        :indicator-dots="true"
        :duration="400"
        indicator-active-color="#fa3898"
        indicator-color="#fff"
      >
        <swiper-item
          v-for="(item, index) in store.goods"
          :key="index"
        >
          <div class="weui-flex" style="flex-wrap:wrap">
            <div
              class="col-4 pa border-box"
              v-for="(subItem, i) in item"
              :key="i"
            >
              <div
                class="bg-black2 text-center"
                :class="{'gift-active':current==(index+''+i)}"
                @tap="current=(index+''+i)" 
                id="item"
              >
                <c-image
                  :src="subItem.imageUrl"
                  width="30vw"
                ></c-image>
                <div class="ellipsis">{{subItem.productName}}</div>
                <div>
                  <span class="iconfont icon-money fg-yellow"></span>
                  <span>{{subItem.needCoinNum}}</span>
                </div>
              </div>
            </div>
          </div>
        </swiper-item>
      </swiper>
    </div>
    <div class="weui-footer weui-footer_fixed-bottom weui-cell query">
      <span class="iconfont icon-jian1 font-16" @tap="countAdjust(-1)"></span>
      <input
        type="number"
        v-model="count"
        style="width:2em;text-align:center;border-bottom:1px solid #fff;line-height:1"
        class="mx-sm"
      >
      <span class="iconfont icon-jia2 font-16" @tap="countAdjust(1)"></span>
      <div class="flex1"></div>
      <button
        type="warn"
        size="mini"
        @tap="buy"
      >确认</button>
    </div>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>