<template>
  <div class="mine-coin pa-md">
    
    <header>
      <div class="weui-cells bg-black2">
        <div class="weui-cell">
          <coin size="24"></coin>
          <div class="pl-sm">当前拥有的金币数</div>
        </div>
        <div class="weui-flex row-center col-end">
          <div class="weui-flex col-baseline pb-md">
            <div class="font-34 pr-sm">{{info.amount}}</div>
            <button
              type="warn"
              size="mini"
              @tap="withdrawal"
            >提现</button>
          </div>
        </div>
        <div class="weui-cell font-12 fg-grey">
          <a href="withdrawal/main?status=2"
            class="weui-flex__item"
            style="border-right:1px solid #3a3a3a"
          >
            <div class="weui-flex">
              <div>已提现金币<span class="iconfont icon-youjiantou"></span></div>
              <div class="pl-sm iconfont icon-iconfontyoujiantou"></div>
            </div>
            <div>{{info.successfulWithdrawalsDto}}</div>
          </a>
          <a href="withdrawal/main?status=1"
            class="weui-flex__item pl-sm"
            style="border-right:1px solid #3a3a3a"
          >
            <div class="weui-flex">
              <div>申请中金币数<span class="iconfont icon-youjiantou"></span></div>
              <div class="pl-sm iconfont icon-iconfontyoujiantou"></div>
            </div>
            <div>{{info.presentDto}}</div>
          </a>
        </div>
      </div>
    </header>
    <main>
      <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">金币明细</div>
        <div class="weui-panel__bd border-top">
          <div
            class="weui-media-box weui-media-box_appmsg"
            v-for="item in rows"
            :key="item.id"
          >
            <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
              <div
                v-if="item.sourceType==2||item.sourceType==3"
                :class="item.sourceType==3?'icon-chukuan':'icon-rukuan'"
                class="iconfont font-40 fg-blue"
              ></div>
              <img
                class="weui-media-box__thumb"
                :src="item.imageUrl"
              />
            </div>
            <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">
              <div class="weui-media-box__title">{{item.sourceType==1?'购买':''}}{{item.productName}}{{item.sourceType==4?('来自'+item.sourceInfo):''}}</div>
              <div class="weui-media-box__desc">{{item.createDate}}</div>
            </div>
            <div class="pl-sm">{{item.type == 1 ? '-' : ''}}{{item.coinUsed}}</div>
          </div>
        </div>
      </div>
      <div 
        v-if="!loading&&!rows.length"
        class="py-xl text-center fg-grey"
      >您还没有金币明细</div>
    </main>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>