<template>
  <div class="mine-withdrawal pa-md">
    
    <header class="text-center font-40">
      <coin size="40"></coin>
      <span class="pl-sm">{{currentMoney}}</span>
    </header>
    <main>
      <div class="weui-cells bg-black2 pa-lg">
        <div class="text-center pb-lg">提现到微信钱包</div>
        <div class="weui-flex py-lg">
          <span class="iconfont icon-money fg-yellow pr-sm"></span>
          <input
            type="number"
            v-model="withdrawalMoney"
            placeholder="请输入金币数"
            style="border-bottom:1px solid #999;"
            class="flex1"
          >
          <button
            class="ml"
            size="mini"
            type="warn"
            @tap="withdrawal"
          >立即提现</button>
        </div>
      </div>

      <div class="weui-media-box__desc">
        <div
          class="weui-cell no-border"
          style="font-weight:bold"
        >提现说明：</div>
        <div class="weui-cell no-border">1.注意金币数为整数</div>
        <div class="weui-cell no-border">2.10金币兑换1RMB，兑换比例10:1</div>
        <div class="weui-cell no-border">3.提现比例为50%，平台和酒吧将抽取50%的费用</div>
        <div class="weui-cell no-border">4.最终解释权归平台方所有</div>
      </div>
    </main>

  </div>
</template>
<script lang="ts" src="./index.ts"></script>