<template name="we-cropper">
  <span class="iconfont icon-money fg-yellow coin icon-white inline" :class="'font-'+size"></span>
</template>
<script>
export default {
  props:{
      size:{
          type:[Number,String],
          default:18
      }
  }
}
</script>
