<template>
    <div class="image" :class="cls" :style={height:width,width}>
        <i class="iconfont icon-jia inlineblock" style="font-size:30px" v-if="plus"></i>
        <img :class="{round:round}" :src="src" mode="aspectFit" v-else>
    </div>
</template>
<script>
export default {
    props:{
        src:{
            type:String,
        },
        width:{
            type:String,
        },
        plus:{
            type:Boolean
        },
        round:{
            type:Boolean
        },

    }
}
</script>
