<template>
  <div class="mine-order"
       style="padding-top:50px">
    
    <div class="weui-navbar bg-black"
         style="position:fixed;border:0">
      <div v-for="(item,index) in tabs"
           :key="index"
           :id="index"
           :class="{'weui-bar__item_on':activeIndex == index}"
           class="weui-navbar__item"
           @click="tabClick">
        <div class="weui-navbar__title">{{item}}</div>
      </div>
    </div>
    <div>
      <div class="bg-black2 mt-sm"
            v-for="(item, index) in rows"
            :key="item.ordersId">
        <div class="weui-panel__hd weui-flex row-between">
          <div>订单号：{{item.orderNo}}</div>
          <div :class="item.statusType==0?'fg-yellow':item.statusType==1?'fg-blue':'fg-red'">{{item.statusType==0?'待支付':item.statusType==1?'已完成':'已取消'}}</div>
        </div>
        <div class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
            <img class="weui-media-box__thumb"
                  :src="item.imageUrl" />
          </div>
          <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">  
            <div class="weui-media-box__title weui-flex">{{item.productName}} x{{item.purchaseNum}} <span class="self-right"><coin></coin>{{item.coinUsed}}</span></div>
            <div class="weui-cell__ft weui-flex">实付 <span class="self-right"><span class="iconfont icon-qian pr fg-white"></span>{{item.price}}</span></div>
            <div class="weui-media-box__desc">{{item.createDate}}</div>
          </div>
        </div>
        <div class="pa border-top text-right" v-if="item.statusType==0">
          <button type="warn" size="mini" @tap="cancel(item)">取消</button>
          <button type="warn" size="mini" @tap="payment(item)" class="ml-sm">立即支付</button>
        </div>
      </div>
    </div>
    <!-- <div v-if="loading" class="text-center fg-grey"><span class="iconfont icon-loading"></span></div> -->
    <div v-if="!loading&&!rows.length" class="py-xl text-center fg-grey">您还没有此类订单</div>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>