<template>
  <div class="mine-order"
       style="padding-top:40px">
       
    <div class="weui-navbar bg-black"
         style="position:fixed;border:0">
      <div v-for="(item,index) in tabs"
           :key="index"
           :id="index"
           :class="{'weui-bar__item_on':activeIndex == index}"
           class="weui-navbar__item"
           @click="tabClick">
        <div class="weui-navbar__title">{{item}}</div>
      </div>
    </div>
    <div class="weui-panel__bd">
      <div class="bg-black2 mt-sm"
            v-for="(item, index) in rows"
            :key="item.ordersId">
        <div class="weui-panel__hd weui-flex row-between">
          <span>订单号：{{item.orderNo}}</span>
          <span :class="item.statusType<2?'fg-red':''">{{item.statusTypeString}}</span>
        </div>
        <div class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
            <img class="weui-media-box__thumb"
                  :src="item.imageUrl" />
          </div>
          <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">  
            <div class="weui-media-box__title weui-flex">{{item.goodsName}}<span class="self-right">x{{item.purchaseNum}}</span></div>
            <div class="weui-cell__ft weui-flex">合计<span class="self-right"><span class="iconfont icon-qian pr fg-white"></span>{{item.payPrice}}</span></div>
            <div class="weui-media-box__desc">{{item.createDate}}</div>
          </div>
        </div>
        <div class="weui-panel__hd text-right" v-if="item.statusType==0">
          <button type="warn" size="mini" @tap="cancel(item)">取消</button>&nbsp;&nbsp;
          <button type="warn" size="mini" @tap="payNow(item)">立即支付</button>
        </div>
      </div>
    </div>
    <div v-if="!loading&&!rows.length" class="py-xl text-center fg-grey">您还没有此酒水记录</div>
  </div>

</template>
<script lang="ts" src="./index.ts"></script>