<template>
<div>
    <mpvue-cropper 
      ref="cropper"
      :option="cropperOpt"
      @onLoad="imageLoad"
      ></mpvue-cropper>
    <div class="weui-flex row-between pb-md" style="position:fixed;width:100%;bottom:0">
        <button size="mini" type="primary" @tap="uploadTap">选择图片</button>
        <button :disabled="!loading" size="mini" type="warn" @tap="getCropperImage">生成图片</button>
    </div>
    <aside v-if="showMask">
      <div class="preivew image" style="overflow:hidden" :style="{'height':height}"><img :src="targetSrc" mode="aspectFit"></div>
      <div class="px-lg mt-md weui-flex">
        <button :disabled="!loading" @tap="showMask=false" type="primary" class="weui-flex__item">放弃</button>
        <div class="weui-flex__item"></div>
        <button :disabled="!loading" @tap="uploading" type="warn" class="weui-flex__item">上传</button>
      </div>
    </aside>
    <canvas canvas-id="compress" :style="style"></canvas>
</div>
</template>
<script lang="ts" src="./index.ts"></script>