<template>
  <div class="crunchies px-sm">
    
    <canvas style="width: 100%; height: 100%; position:fixed;left:0;top:0;z-index:-1" canvas-id="can"></canvas>
    <div class="page__bd">
      <div class="weui-tab">
        <div class="weui-navbar" style="border:0;">
          <block v-for="(item,index) in tabs"
                 :key="index">
            <div :id="index"
                 :class="{'weui-bar__item_on':activeIndex == index}"
                 class="weui-navbar__item"
                 @click="tabClick">
              <div class="weui-navbar__title">{{item}}</div>
            </div>
          </block>
        </div>
        <div class="weui-tab__panel">
          <type :rank="getRank" :hidden="activeIndex != 0" :index="0"></type> 
          <type :rank ="sendRank" :hidden="activeIndex != 1" :index="1"></type>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>