<template>
  <div class="weui-tab__content"
       :hidden="hidden">
    <div class="weui-media-box weui-media-box_appmsg round-xs" :class="'gradient-'+index">
      <div class="no mr-sm">{{rank.rank}}</div>
      <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
        <img class="weui-media-box__thumb round"
             :src="rank.thumbnail" />
      </div>
      <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">
        <div class="weui-media-box__title weui-flex">
          <div>{{rank.nickName}}</div>
        </div>
        <div class="weui-media-box__desc fg-white">{{rank.rankDesc}}</div>
      </div>
      <div class="weui-cell__ft">
        <div class="weui-media-box__title"><coin></coin></div>
        <div class="weui-media-box__desc fg-white">{{rank.coins}}</div>
      </div>
    </div>
    <div class="top10 text-center py-md">{{'&gt;&gt;'}} TOP 10 {{'&lt;&lt;'}}</div>
    <div class="weui-panel weui-panel_access round-sm" style="margin-top:0">
      <div class="weui-panel__bd">
        <a 
          v-for="(item, index) in rank.topList" :key="index"
          :href="'/pages/profile/main?userId='+item.userId+'&userName='+item.nickName+'&sex='+item.sex"
           class="weui-media-box weui-media-box_appmsg"
           hover-class="weui-cell_active">
          <div class="no mr-sm"  
               :style="'background-image:url('+(item.rank==1?bg1:item.rank==2?bg2:item.rank==3?bg3:null)+')'">{{item.rank<3?'':item.rank}}</div>
          <div class="weui-media-box__hd weui-media-box__hd_in-appmsg">
            <img class="weui-media-box__thumb round"
                 :src="item.thumbnail" />
          </div>
          <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">
            <div class="weui-media-box__title weui-flex">
              <div>{{item.nickName}}</div>
              <i class="iconfont pl" :class="item.sex==1?'icon-nan fg-blue':'icon-nv fg-red'"></i>
            </div>
            <div class="weui-media-box__desc">{{item.customSign||'&nbsp;'}}</div>
          </div>
          <div class="weui-cell__ft">
            <coin></coin>
            <div class="weui-media-box__desc">{{item.coins}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./type.ts">
</script>

