<template>
  <div>
    
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <div v-for="(item,index) in rows" 
          :key="index" 
          class="weui-media-box weui-media-box_appmsg" >
          <a href="/pages/profile/main" class="weui-media-box__hd weui-media-box__hd_in-appmsg">
            <img class="weui-media-box__thumb round" :src="item.userImage" />
          </a>
          <div class="weui-media-box__bd weui-media-box__bd_in-appmsg">
            <div class="weui-media-box__title">
              <span>{{item.nickName}}{{item.status}}</span>
              <span class="iconfont pl" :class="item.sex==1?'icon-nan fg-blue':'icon-nv fg-red'"></span>
            </div>
            <div class="weui-media-box__desc">{{item.customSign||'&nbsp;'}}</div>
          </div>
          <button @tap="action(item)" :plain="item.status!=1" :type="item.status==1?'warn':''" size="mini">
            <span v-if="item.status==2" class="iconfont icon-weibiaoti"></span>
            <span>{{item.status==0?'已关注':item.status==1?'关注':'互相关注'}}</span>
            <!-- <span v-if="index==current" class="iconfont icon-loading"></span> -->
          </button>
        </div>
      </div>
    </div> 
    <div v-if="!loading&&!rows.length" class="text-center py-xl fg-grey">您还没有{{type==1?'粉丝':'关注他人'}}</div>
    <!-- <div v-if="loading" class="text-center"><span class="iconfont icon-loading"></span></div> -->
  </div>
</template>
<script lang="ts" src="./index.ts"></script>