<template>
  <div class="map">
    
    <map id="map"
         :longitude="lng"
         :latitude="lat"
         scale="14"
         :controls="controls"
         :markers="markers"
         @markertap="markertap"
         :polyline="polyline"
         show-location
         layer-style
         show-compass
         style="width: 100%; height:100vh;">
         </map>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>