<template>
  <div :id="'msg'+time" class="weui-flex pb-sm col-baseline"
       :class="{'reverse':isMe}">
    <c-image :src="isMe?myHeadUrl:taHeadUrl"
             width="68rpx"
             round></c-image>
    <div style="white-space:pre;" class="chat-ctx round-xs pa mx"
         :class="isMe?'bg-pink':'bg-white fg-black'">{{isText?msg:msg.giftName}}</div>
    <template v-if="!isText">
      <c-image :src="msg.giftUrl"
               width="68rpx" 
               ></c-image> 
      <div :class="{'fg-pink':isMe}" class="pt px">x</div>
      <div :class="{'fg-pink':isMe}" class="pt">{{msg.giftCount}}</div>
    </template>
    <div v-if="!loaded" class="iconfont icon-loading pt px fg-pink"></div>
    <div @tap="resend" v-if="failed" class="iconfont icon-gantan pt px fg-pink"></div>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>