<template>
  <div class="album"  @tap="current=-1">
    
    <div class="weui-flex pa" style="flex-wrap:wrap"> 
      <div class="col-4 pa border-box" 
        v-for="(item,index) in albumList" 
        :key="item.id" 
        @longpress="current = index"  
        @tap="preivew($event,index,item.imageUrl)"
      >
        <div class="image bg-black2" :class="{active:index==current}" style="height:31.5vw;"><img :src="item.thumbnail" mode="aspectFit"></div>
        <i class="iconfont icon-guanbi fg-red inline round font-18" @tap.stop="del(item.id,index)"></i>
      </div>
      <div class="col-4 pa border-box" v-for="item in emptyCount" :key="item" @tap="addAlbum">
        <div class="image bg-black2" style="height:31.5vw;"><i class="iconfont icon-jia inlineblock" style="font-size:36px;vertical-align:middle"></i></div>
      </div>
    </div>
    <div class="pa-sm fg-grey">
      <div>长按图片,再点击其他图片可以改变显示顺序</div>
      <div>最多上传6张</div>
    </div>
    <footer class="full-width pa-sm border-box" style="position:fixed;left:0;bottom:10px">
      <button class="round-xl" type="warn" @tap="updateUsersAlbum" hover-class="button-hover">保存顺序</button>
    </footer>
    <aside v-if="showMask">
      <div class="preivew image" :style="{'height':height}"><img :src="targetSrc" mode="aspectFit"></div>
      <div class="px-lg mt-md weui-flex">
        <button :disabled="status" @tap="showMask=false" type="primary" class="weui-flex__item">放弃</button>
        <div class="weui-flex__item"></div>
        <button @tap="uploading" type="warn" class="weui-flex__item">上传</button>
      </div>
    </aside>
    <canvas canvas-id="compress" :style="style"></canvas>
  </div>
</template>
<script lang="ts" src="./index.ts"></script>